# App
APP_PORT=8080
APP_ENV=development

# Database (MySQL local del host)
# Si corrés la app con `go run` → DB_HOST=localhost
# Si corrés la app con docker-compose → el compose sobreescribe a host.docker.internal
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=tu_password_mysql_local
DB_NAME=golang_api

# JWT
JWT_SECRET=supersecreto_cambialo_en_produccion
JWT_EXPIRATION_HOURS=24
